{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{{ post.title }} | Yangiliklar</title>
</head>
<body class="detail-page">

    <div class="back-button-wrapper">
        <a href="{% url 'home' %}" class="back-home-btn">Barcha yangiliklar</a>
    </div>

    <div class="detail-container">
        <h1 class="detail-title">{{ post.title }}</h1>

        <div class="detail-content">
            {{ post.content }}
        </div>
        <a href="{% url 'post_edit' post.id %}" class="edit-btn">✏️ Tahrirlash</a>

        <div class="detail-meta">
            <span class="detail-time">{{ post.time }}</span>
            <button class="share-button" onclick="copyToClipboardWithTooltip(this)">
                📤 Ulashish
            </button>
        </div>
    </div>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>